{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="list-page">
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <div class="title-area">
        <h2 class="page-title">스택별 기업</h2>
    </div>

    <div class="search-area">
        <form action="{% url 'stack:search' %}" method="GET">
            {% csrf_token %}
            <div class="search-bar">
                <input type="text" name="search" id="search-bar" placeholder="검색어를 입력해주세요">
                <button type="submit" class="search-btn">검색</button>
            </div>
        </form>
    </div>


    <div class="content">
        <main class="list-area skill">
            <ul>
                {% for s in stack_list %}
                <li class="list-card">                
                    <div class="company-icon">
                            <a href="{{s.id}}">
                            <img src="{{ s.logo }}" alt="스택 로고"style=" width: 70px; height: 70px;">
                            </a>
                        </div>
                        <div class="info-box">
                        <a href="{{s.id}}" style="text-decoration: none;">
                        <h3>{{ s.name }}</h3></a>
                    </div>
                    <p class="skill-info">
                    </p>
                    <div class="skill-list">
                        <ul>
                            {% for rs in s.related_stack_set.iterator %}
                            <li><a class="skill-icon" href="{{rs.related_stack_pk}}"><img src="{{ rs.related_stack_logo }}"
                                        alt="아이콘"></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
        </div> 
    
    <div class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/stack/?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
            </li>
        {% else %}
             <!-- 이전 페이지 객체가 있으면 '이전' 버튼 활성화 -->
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
        {% endif %}
        

        <!-- 페이지를 번호로 출력하기-->
        {% for page in page_obj.paginator.page_range %}	 <!-- 전체 페이지수를 가져옴-->
        <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
        {% if page_obj.number == forloop.counter %}
                    <!-- 위에 page_obj 대신 page 로도 되는지 테스트해보기-->
        <li class="page-item disabled" aria-current="page"> 
                        <!-- 비활성화 시켜주는 class, 회색처리되서 클릭되지 않게함.-->
            <a class="page-link" style="background-color: #dee2e6;" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% else %}
        <!-- 현재 선택한 페이지 번호는 활성화 시킴 -->
        <li class="page-item" aria-current="page">
            <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <!-- 이전페이지 객체가 있으면 [Next]버튼 활성화 -->
            <li class="page-item">
                <a class="page-link" href="/stack/?page={{ page_obj.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled"> <!-- 여기 비활성화 안해주면 이상한데로 계속 감-->
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
        
    </div>

    
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>