{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="list-page">
    <header>
        <div class="container">
            <h1>Of Course</h1>
            <nav>
                <ul>
                    <li><a href="#">기업별 추천</a></li>
                    <li><a href="#">기술별 추천</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title-area">
        <h2 class="page-title">스택별 기업</h2>
    </div>
    <div class="search-area">
        <form action="">
            <!-- 검색 결과 표시 -->
            <div class="hide">
                <h2><span class="point">자바스크립트</span> 검색 결과 (5개)</h2>
                <button type="reset" class="del-btn">삭제<i class="fa-solid fa-circle-xmark"></i></button>
            </div>
            <!-- 삭제 버튼을 누르고 재검색 할 때! -->
            <div class="search-bar">
                <input type="text" name="search" id="search-bar" placeholder="스택명을 입력해주세요!">
                <button type="submit" class="search-btn">검색</button>
            </div>
        </form>
    </div>
<!-- 검색을 했을 때 -->
    {% if search %}
    <div class="content">
        <h1>검색하신  {{ search }}의 스택 확인하기 </h1>
        <main class="list-area skill">
            <ul>
                {% for c in stacks %}
                <li class="list-card">                
                    <div class="company-icon">
                            <img src="{{ c.logo }}" alt="강의 예시 이미지">
                        </div>
                        <div class="info-box">
                        <a href="http://127.0.0.1:8000/company/{{c.id}}" style="text-decoration: none;">
                        <h3>{{ c.name }}</h3></a>
                    </div>
                    <p class="skill-info">
                        {{ c.stack_info }}
                    </p>
                    <div class="skill-list">
                        <ul>
                            {% for stacks in c.stack.iterator %}
                            <li><a class="skill-icon" href="http://127.0.0.1:8000/stack/{{stacks.id}}"><img src="{{ stacks.logo }}"
                                        alt="아이콘"></a></li>
                            {% endfor %}
                            <li><a class="see-more">더보기</a></li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
    {% endif %}

<!-- 검색 안 했을 때 완전 메인 -->
    {% for i in stacks %}
    <div class="content">
        <main class="list-area skill">
            <ul>
                
                <li class="list-card">                
                    <div class="company-icon">
                            <img src="{{ i.logo }}" alt="강의 예시 이미지">
                        </div>
                        <div class="info-box">
                        <a href="http://127.0.0.1:8000/stack/{{i.id}}" style="text-decoration: none;">
                        <h3>{{ i.name }}</h3></a>
                    </div>
                    <p class="skill-info">
                        {{ c.stack_info }}
                    </p>
                    <div class="skill-list">
                        <ul>
                            {% for stacks in c.stack.iterator %}
                            <li><a class="skill-icon" href="http://127.0.0.1:8000/stack/{{stacks.id}}"><img src="{{ stacks.logo }}"
                                        alt="아이콘"></a></li>
                            {% endfor %}
                            <li><a class="see-more">더보기</a></li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="company/?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
            </li>
        {% else %}
             <!-- 이전 페이지 객체가 있으면 '이전' 버튼 활성화 -->
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
        {% endif %}
        

        <!-- 페이지를 번호로 출력하기-->
        {% for page in page_obj.paginator.page_range %}	 <!-- 전체 페이지수를 가져옴-->
        <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
        {% if page_obj.number == forloop.counter %}
                    <!-- 위에 page_obj 대신 page 로도 되는지 테스트해보기-->
        <li class="page-item disabled" aria-current="page"> 
                        <!-- 비활성화 시켜주는 class, 회색처리되서 클릭되지 않게함.-->
            <a class="page-link" style="background-color: #dee2e6;" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% else %}
        <!-- 현재 선택한 페이지 번호는 활성화 시킴 -->
        <li class="page-item" aria-current="page">
            <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <!-- 이전페이지 객체가 있으면 [Next]버튼 활성화 -->
            <li class="page-item">
                <a class="page-link" href="#">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled"> <!-- 여기 비활성화 안해주면 이상한데로 계속 감-->
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
        
    </div>
    
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>