{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="list-page">
    <header>
        <div class="container">
            <h1>Of Course</h1>
            <nav>
                <ul>
                    <li><a href="#">기업별 추천</a></li>
                    <li><a href="#">기술별 추천</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="search-area">
        <!-- 검색 폼 -->
        <h1>Blog Search</h1>
<br>

<form action="." method="post"> {% csrf_token %}
    {{ form.as_table }} <!-- form을 테이블 형식으로 표시, 여기서 form은 views에서 넘겨준 CourseSearchForm 객체임-->
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>

<br/><br/>

{% if object_list %}
    {% for course in object_list %}
        <h2><a href='{{ course.get_absolute_url }}'>{{ course.title }}</a></h2>
        <p>{{course.stacks}}</p>
        <p>{{ course.teacher }}</p>
    {% endfor %}
{% elif search %}<!-- 검색란이 공란인지 확인-->
    <b><i>Search Word({{ search }}) Not Found</i></b>
{% endif %}


        <form action="">
            <!-- 검색 결과 표시 -->
            {% for stack in stacks %}<h2><span class="point">{{stack.name}} </span> 검색 결과</h2>{% endfor %}
            <button type="reset" class="del-btn">삭제<i class="fa-solid fa-circle-xmark"></i></button>
            <!-- 삭제 버튼을 누르고 재검색 할 때 -->
            <div class="hide">
                <input type="text" name="search" id="search-bar">
                <button type="submit">검색</button>
            </div>
        </form>
    </div>
    <div class="content col-2">
        <aside>
            {% for stack in stacks %}
            <div class="skill-info-area">
                <div class="skill-icon">
                    <img src="{{stack.logo}}" alt="skill icon">
                </div>
                <h3>{{stack.name}}</h3>
                <p class="skill-category">{{stack.assort}}</p>
                <ul class="skill-info">
                    <li>
                        {{stack.described}}<a href="#"></a>
                    </li>
                    <li>
                        <a href="#">웹사이트</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </aside>
        <main class="list-area">
            <ul>
                {% for c in course %}
                <li class="list-card">
                    <div class="img-box">
                        <img src="{{ c.img_url }}" alt="강의 예시 이미지">
                    </div>
                    <div class="info-box">
                        <h3><a href="#">{{c.title}} 
                        {% for stack in c.stack.iterator %}
                        <span class="point">{{stack.name}}</span>
                        {% endfor %}
                        {{ c.level }}</a></h3>
                        <p class="teacher">{{ c.teacher }}</p>
                        <p class="rate">{{ c.score }}</p>
                        <p class="price">{{ c.price }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>