{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="list-page">
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <div class="search-area">
        <form action="">
            <!-- 검색 결과 표시 -->
            {% for stack in stacks %}<h2><span class="point"># {{stack.name}} </span></h2>{% endfor %}
            <a href="/course/"><i class="fa-solid fa-circle-xmark fa-2x"></i></a>
            <!-- 삭제 버튼을 누르고 재검색 할 때 -->
            <div class="hide">
            </div>
        </form>
    </div>
    <div class="content col-2">
        <aside>
            {% for stack in stacks %}
            <div class="skill-info-area">
                <div class="skill-icon">
                    <img src="{{stack.logo}}" alt="skill icon">
                </div>
                <h3>{{stack.name}}</h3>
                <p class="skill-category">{{stack.assort}}</p>
                <ul class="skill-info">
                    <li>
                        {{stack.described}}<a href="#"></a>
                    </li>
                    <li>
                        <a href="#">웹사이트</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </aside>
        <main class="list-area">
            <ul>
                {% for c in course %}
                <li class="list-card">
                    <a href="{{c.url}}">
                        <div class="img-box">
                            <img src="{{ c.img_url }}" alt="강의 예시 이미지">
                        </div>
                    </a>
                    <div class="info-box">
                        <h3><a href="{{c.url}}">{{c.title}} 
                        {% for stack in c.stack.iterator %}
                        <a href="/filter/?s={{stack.name}}"><span class="point">{{stack.name}}</span></a>
                        {% endfor %}
                        {{ c.level }}</a></h3>
                        <p class="teacher">{{ c.teacher }}</p>
                        <p class="rate">{{ c.score }}</p>
                        <p class="price">{{ c.price }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>