{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body class="list-page">
    <header>
        <div class="container">
            <h1>Of Course</h1>
            <nav>
                <ul>
                    <li><a href="#">기업별 추천</a></li>
                    <li><a href="#">기술별 추천</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="search-area">
        <form action="">
            <!-- 검색 결과 표시 -->
            <h2><span class="point">자바스크립트</span> 검색 결과 (5개)</h2>
            <button type="reset" class="del-btn">삭제<i class="fa-solid fa-circle-xmark"></i></button>
            <!-- 삭제 버튼을 누르고 재검색 할 때 -->
            <div class="hide">
                <input type="text" name="search" id="search-bar">
                <button type="submit">검색</button>
            </div>
        </form>
    </div>
    <div class="content col-2">
        <aside>
            <div class="skill-info-area">
                <div class="skill-icon">
                    <img src="{% static 'asset/js.png' %}" alt="skill icon">
                </div>
                <h3>자바스크립트</h3>
                <p class="skill-category">언어</p>
                <ul class="skill-info">
                    <li>
                        자바스크립트는 객체 기반의 스크립트 프로그래밍 언어이다. 이 언어는 웹 브라우저 내에서 주로 사용되며, 다른 응용 프로그램의 내장 객체에도 접근할 수 있는 기능을 가지고 있다. 또한 Node.js와 같은 런타임 환경과 같이 서버 프로그래밍에도 사용되고 있다 <a href="#">[위키백과]</a>
                    </li>
                    <li>
                        <a href="#">웹사이트</a>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="list-area">
            <ul>
                {% for c in course %}
                <li class="list-card">
                    <div class="img-box">
                        <img src="{{ c.img_url }}" alt="강의 예시 이미지">
                    </div>
                    <div class="info-box">
                        <h3><a href="#">{{c.title}} <span class="point"></span> {{ c.level }}</a></h3>
                        <p class="teacher">{{ c.teacher }}</p>
                        <p class="rate">{{ c.score }}</p>
                        <p class="price">{{ c.price }}</p>
                        <!-- STACK 잘나오는지 테스트 -->
                        {%for s in stacks%}
                        <p>{{s.stacks}}</p>
                        {%endfor%}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>