{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <link rel="stylesheet" href="{%static 'css/filter.css'%}">

    <script type="text/javascript" src="{%static 'js/list.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body class="list-page">
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <div class="search-area">
        <form action="{% url 'search' %}" method="GET">
            {% csrf_token %}
            <div class="search-bar">
                <input type="text" name="search" id="search-bar">
                <button type="submit" class="search-btn">검색</button>
            </div>
        </form>
    </div>

    <div class="content col-2">
        <aside>
            <div id="myBtnContainer">
                <button class="btn" onclick="filterSelection('all')"> Show all</button>
                <button class="btn" onclick="filterSelection('프론트엔드')"> 프론트엔드</button>
                <button class="btn" onclick="filterSelection('백엔드')"> 백엔드</button>
                <button class="btn" onclick="filterSelection('데이터베이스')"> 데이터베이스</button>
                <button class="btn" onclick="filterSelection('데브옵스')"> 데브옵스</button>
                <button class="btn" onclick="filterSelection('언어')"> 언어</button>
                <button class="btn" onclick="filterSelection('테스팅툴')"> 테스팅툴</button>
                <button class="btn" onclick="filterSelection('협업툴')"> 협업툴</button>
            </div>
                <div class="skill-info-area">
                    <div class="container">
                        {% for s in stacks %}
                        {% if s.course_stacks_set.exists %}
                        <div class="filterDiv {{s.assort}}">
                            <input type="checkbox" class="btn-check" id="btncheck{{forloop.counter}}" autocomplete="off"
                                    name="s" , value="{{s.name}}">
                            <button class="btn btn-outline-primary" for="btncheck{{forloop.counter}}" onclick="filterSelection('{{s.name}}')">{{s.name}}</button>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </aside>
        <main class="list-area">
            <ul>
                {% for c in course_list %}
                <li class="list-card filterDiv {% for s in c.stack.iterator %}{{s.name}}{{s.assort}}{% endfor %}">
                    <a href="{{c.url}}">
                        <div class="img-box">
                            <img src="{{ c.img_url }}" alt="강의 예시 이미지">
                        </div>
                    </a>
                    <div class="info-box">
                        <h3><a href="{{c.url}}">{{c.title|truncatechars:20 }}
                                {% for s in c.stack.iterator %}
                                <span class="point">{{s.name}}</span>
                                {% endfor %}
                                {{ c.level }}</a></h3>
                        <p class="teacher">{{ c.teacher }}</p>
                        <p class="rate">{{ c.score }}</p>
                        <p class="price">{{ c.price }}</p>
                    </div>
                </li>
                {% endfor %}

                <!-- Pagination-->
                {% if is_paginated %}
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination justify-content-center my-4">
                        <!-- 이전 페이지로 돌아가기 -->
                        {% if page_obj.has_previous %}
                        <!-- 이전 페이지 객체가 있으면 [prev]버튼 활성화 -->
                        <li class="page-item">
                            <a class="page-link"
                                href="{% url 'course:course' %}?page{{ page_obj.previous_page_number }}"
                                tabindex="-1">Prev</a>
                        </li>
                        {% else %}
                        <!-- 이전페이지 객체가 없으면 [prev]버튼 비활성화 -->
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Prev</a>
                        </li>
                        {% endif %}
                        <!-- 페이지를 번호로 출력하기 -->
                        {% for page in page_obj.paginator.page_range %}
                        <!-- 현재 선택한 페이지 번호는 비활성화 시킴 -->
                        {% if page_obj.number == forloop.counter %}
                        {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %} <li
                            class="page-item disabled" aria-current="page">
                            <a class="page-link" style="background-color: #7eacf6;"
                                href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                            </li>
                            {% else %}
                            <!-- 현재 선택한 페이지 번호는 활성화 시킴 -->
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">{{
                                    forloop.counter}}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            <!-- 다음 페이지로 가기 -->
                            {% if page_obj.has_next %}
                            <!-- 이전페이지 객체가 있으면 [next]버튼 활성화 -->
                            <li class="page-item">
                                <a class="page-link"
                                    href="{% url 'course:course' %}?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </ul>
        </main>
    </div>
    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>