<div class="container" id="header">
    <a href="/" style="text-decoration: none;">
        <h1>Of Course</h1>
    </a>
    <nav>
        <ul>
            <li><a href="/company/">기업별 기술스택</a></li>
            <li><a href="/stack/">기술스택별 정보</a></li>
            <li><a href="/course/">강의 찾기</a></li>
        </ul>

        <div class="btn-wrap">
            <a href="#" class="btn">로그인</a>
        </div>
    </nav>
</div>

<script>
    const loginBtn = document.querySelector('#header .btn-wrap .btn')
    loginBtn.addEventListener('click', () =>{alert("준비중입니다")})
</script>