{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ofcourse</title>
    <!-- fontawesome css cdn-->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <!-- normalize css cdn-->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- global css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="main-page">
    <header>
        {% include 'partials/navbar.html' %}
    </header>

    <div class="container">
        <h1>Of Course</h1>
        <h2>가고싶은 회사를 가려면 무엇을 공부해야 할까요?</h2>
        <div class="link-area">
            <a href="/course">스택별 강의 보러가기</a>
            <a href="/company">회사별 기술스택 보러가기</a>
            <a href="/stack">기술스택별 리스트 보러가기</a>
        </div>
    </div>
    <!-- <form action="{% url 'search' %}" method="GET">
        {% csrf_token %}
        <div class="search-bar">
            <input type="text" name="search" id="search-bar">
            <button type="submit" class="search-btn">검색</button>
        </div> -->
    </form>

    <footer>
        <p>
            Copyright © 2023. Kokonenne All Rights Reserved.
        </p>
    </footer>
</body>

</html>